html {
    background-color: #333232;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/pomidorka.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px 700px;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

p {
    margin: 0;
    padding: 0;
}

.pomodoro-container {
    height: 220px;
    width: 550px;

    margin: 0 auto;
    padding-top: 100px;

    display: flex;
    justify-content: space-around;
}

.work-container, .cyrcle-container, .break-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.timer {
    display: flex;
    font-size: 30px;
    font-weight: bold;
}

.custom-btn {
    width: 120px;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-1 {
    background: rgb(10, 80, 5);
    border: none;
}

.btn-1:hover {
    background: rgb(15, 178, 58);


}

.btn-2 {
    background: rgb(6, 14, 131);
    border: none;
}

.btn-2:hover {
    background: rgb(0, 3, 255);
}

.btn-3 {
    background: rgb(131, 6, 127);
    border: none;
}

.btn-3:hover {
    background: rgb(196, 102, 177);
}

.btn-4 {
    background: rgb(10, 80, 5);
    border: none;
    width: 40px;
    height: 30px;
}

.btn-4:hover {
    background: rgb(15, 178, 58);
}

.tools-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tools-text {
    font-size: 20px;
    margin: 5px;
}

.form {
    margin: 5px;
}

.label {
    font-size: 30px;
    font-weight: bold;
}











